<span class="group relative space-x-2 mr-2 inline-flex px-4 py-2 items-center justify-center overflow-hidden rounded-full border-2 border-[#312d2c] lg:px-6 font-medium text-neutral-200 ">
    <Astro.props.icon size="16" class="inline" />
    <span class=" text-sm">{Astro.props.name}</span>
    <div class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]">
      <div class="relative h-full w-8 bg-white/20" />
    </div>
  </span>