<section id="Education" class="mt-10 px-5 sm:px-24">
  <h2
    id="titles"
    class="font-bold font-knewave text-4xl md:text-7xl mb-14 tracking-wide"
  >
    Educación
  </h2>
  <div class="flex gap-10 w-full flex-col md:flex-row">
    <article class="p-6 border-2 border-[#292524] rounded-lg md:w-1/2">
      <header>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.uttehuacan.edu.mx/web/carreras.php?id=409"
        >
          <h3 class="font-bold text-2xl">
            TSU en TI Área Desarrollo de Software Multiplataforma
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-up-right"
            ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
          >
        </a>
      </header>
      <div class="mt-2 text-balance text-base font-thin text-[#98a9d1]">
        <span>Puebla, México</span>
        <span class="opacity-50"> | </span>
        <span>
          <time datetime="2022-6"> Agosto de 2023 </time>
        </span>
      </div>
      <p class="font-normal mt-5 text-lg">
        Graduado por la Universidad Tecnológica de Tehuacán, donde adquirí
        conocimientos en desarrollo de aplicaciones web y móviles, así como en
        tecnologías IoT. Durante mis estudios, me enfoqué en integrar soluciones
        tecnológicas, combinando programación, bases de datos y diseño gráfico,
        lo que me permitió desarrollar proyectos completos tanto en software
        como en hardware.
      </p>
    </article>
    <article class="p-6 border-2 border-[#292524] rounded-lg  flex flex-col md:w-1/2">
      <header>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://uttehuacan.edu.mx/web/carreras.php?id=3574"
        >
          <h3 class="font-bold text-2xl">
            Terminando Ingeniería en Desarrollo y Gestión de Software
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-up-right"
            ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
          >
        </a>
      </header>
      <div class="mt-2 text-balance text-base font-thin text-[#98a9d1]">
        <span>Puebla, México</span>
        <span class="opacity-50"> | </span>
        <span>
          <time datetime="2023-5"> Septiembre de 2023 </time> - <time
            datetime="2025-4"
          >
            Abril de 2025
          </time>
        </span>
      </div>
      <p class="font-normal mt-5 text-lg">
        Por concluir la carrera de Ingeniería en Desarrollo y Gestión de
        Software en la Universidad Tecnológica de Tehuacán, durante esta etapa
        he adquirido conocimientos en desarrollo de aplicaciones web y móviles,
        así desde la parte de la gestión de proyectos hasta la venta de los
        mismos.
      </p>
    </article>
  </div>
</section>
